.slider__container {
    position: relative;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transition: 0.6s ease;
    width: rem(13px);
    height: rem(27px);
    z-index: 1;
}

.prev {
    left: -10%;
}

.next {
    right: 0;
}

.arrow {
    width: 100%;
    height: 100%;
}
